---
import Layout from "../components/Layout.astro";
import Login from "./Login";

---

  <body>
	<Layout title="Login" description='Inicio de sesión'>
    <main class="mt-10">
      <Login client:load/>
    </main>
  </Layout>
  </body>