---
import NavBar from "./NavBar";
import Counter from "./counter";

---
<head>
  <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
</head>
<body>
  <div class="mx-auto">
    <header>
      <NavBar client:load />
      <Counter client:load />
    </header>
    <div class="mx-auto max-w-7xl">
      <slot />
    </div>
  <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  </div>
</body>